root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.md]
# Markdown 行尾的 2 个空格是有意的换行符，不自动修剪
trim_trailing_whitespace = false
